language: php

php:
  - 5.4
  - 5.5
  - 5.6
  - 7.0

before_script:
  - composer self-update
  - composer --version

script:
  - composer install -n --prefer-source
  - vendor/bin/phpunit


# Customize when the notification emails are sent.
notifications:
    on_success: never
    on_failure: always